<style>
    body
    {
        background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    }
    .center-box
    {
        background: white;
        margin: 20px auto;
        padding: 15px;
        width: 600px;
        border-radius: 3px;
        align-items: center;
        box-shadow: 3px 3px #ccc;
    }
    .btn
    {
        background-color: cyan;
        border: none;
        padding: 5px;
        width: 100px;
        height: 40px;
    }
    h1
    {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 34px;
        font-weight: bold;
    }
    h3
    {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 26px;
    }
    .input{
        width: 80%;
        height: 30px;
        
    }
    p, span
    {
        font-size: 22px;
    }
    .btn1
    {
        height: 30px;
        width: 80px;
        background: greenyellow;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        color: black;
    }

    .btn2
    {
        height: 30px;
        width: 80px;
        background: red;
        text-decoration: none;
        font-size: 20px;
        padding: 5px;
        color: black;
 }
</style>

<body>
    

<div class="center-box">


<h1>My Todo List</h1>

<form method="post">
    {% csrf_token %}
    {{form.title}} 
    <input class="btn" type="submit" value="Add Task">
</form>
<h3>You have {{count}} pending Tasks!</h3>
{% for task in tasks %}
{% if task.complete == True %}
<p>
<strike>{{task}}</strike>
{% else %}
<span>{{task}}</span>
{% endif %} 
<a class="btn1" href="{% url 'update' task.id %}">Update</a>
<a class="btn2" href="{% url 'delete' task.id %}">Delete</a>
</p>
{% endfor %}

</div>
</body>